* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

body {
  overflow: hidden;
}

/* Page System */
.page {
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: opacity 1s ease;
  opacity: 0;
}

.page.active {
  opacity: 1;
  z-index: 2;
}

/* FIRST PAGE */
.page1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: radial-gradient(circle at center, #0a0f2c 0%, #000 100%);
  color: #e6c79c;
}

.page1 h1 {
  font-size: clamp(24px, 5vw, 42px);
  margin-bottom: 30px;
}

button {
  padding: 12px 35px;
  font-size: clamp(16px, 4vw, 20px);
  background: linear-gradient(145deg, #e6c79c, #bfa067);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(255,215,170,0.6);
}

/* SECOND PAGE */
.page2 {
  background: url("reveal.jpg") no-repeat center center;
  background-size: cover;
}
