* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

html, body {
  height: 100%;
  width: 100%;
}

/* FIRST PAGE */
.page1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: radial-gradient(circle at center, #0a0f2c 0%, #000 100%);
  color: #e6c79c;
}

.page1 h1 {
  font-size: clamp(24px, 5vw, 42px);
  margin-bottom: 30px;
}

button {
  padding: 12px 35px;
  font-size: clamp(16px, 4vw, 20px);
  background: linear-gradient(145deg, #e6c79c, #bfa067);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

/* SECOND PAGE */
.page2 {
  display: none;
  height: 100vh;
  width: 100%;
  background: url("reveal.jpg") no-repeat center center;
  background-size: cover;
}
